<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('common/title', { title }); %>
    <p>Welcome to <%= title %></p>
    <a href="/newuser">Add user</a>
  </body>
</html>
